.Todo
{
    display: flex;
    align-items: center;    
}

.Nave-Global
{
    display: flex;
}

.Titulo
{
    width: 100%;
    height: 100px;
    background-color: black;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 5px;
}

.Nave
{
    width: 100%;
    height: 105px;
    background-color: black;
    padding-left: 280px;
    padding-right: 320px;
}

.active
{        
    color: cyan;
    font-size: 28px; 
    text-decoration: none;    
}

.desactive
{
    color: white; 
    font-size: 28px;
    text-decoration: none;
}

.lista
{    
    display: flex;
    justify-content: center;
    align-items: center;    
    list-style: none;    
}

.lista li
{
    margin: 15px;    
}

.lista li:hover
{
    background-color: darkgray;
}
